<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Random Forest by @fchrulk</title>
</head>
<body>

    <div class="form">
        <h3 style="font-family: consolas;"><strong><u>{{ prediction_text_title }}</u></strong></h3>
        <p class="message" style="font-family: consolas;">&emsp; &emsp; {{ prediction_text_1 }}
            <strong style="color: red;">
                <u>{{ prediction_text }}</u>
            </strong> 
        {{ prediction_text_2 }}
    </p>
    </div>

</body>
</html>